@import '../../../common/default.less';
.DLQLForm {
    height: 100%;
    width: 100%;
    display: flex;
    .content {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ct_header {
            padding: 10px 0;
            width: 100%;
            border-bottom: 2px solid #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            >h1 {
                margin: 0;
            }
        }
        .ct_form {
            display: flex;
            justify-content: center;
            // align-items: center;
            width: 100%;
            flex: 1;
            overflow: auto;
            >div {
                max-width: 1600px;
                width: 100%;
            }
            .group {
                margin: 20px;
                padding: 10px 0;
                background: white;
                box-shadow: @box-shadow;
                &:first-child {
                    margin-top: 15px;
                }
                .grouptitle {
                    position: relative;
                    padding: 5px 10px;
                    background: rgba(158, 158, 158, 0.06);
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        height: 100%;
                        width: 4px;
                        background-color: @primary-color;
                    }
                    >span {
                        margin-right: 20px;
                        float: right;
                        color: red;
                    }
                }
                .groupcontent {
                    width: 100%;
                    margin: 0;
                    padding: 0 30px;
                    :global {
                        .ant-row {
                            margin: 10px 0;
                        }
                        .ant-form-item-children {
                            display: flex;
                            .iconfont {
                                margin-left: 5px;
                                font-size: 20px;
                            }
                            .iconfont.icon-iconcorrect {
                                color: green;
                            }
                            .iconfont.icon-cuowu {
                                color: red;
                            }
                        }
                    }
                    .ired {
                        color: red;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
            :global {
                .ant-divider {
                    margin: 5px 0;
                }
                .ant-form-item {
                    margin: 5px 0;
                }
            }
        }
        .ct_footer {
            text-align: right;
            width: 100%;
            padding: 10px;
            border-top: 1px solid @border-color;
            height: 50px;
        }
    }
    :global {
        .ant-spin {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .ant-spin.active {
            z-index: 9;
        }
    }
}

.locatemap {
    :global {
        .ant-modal,
        .ant-modal-content {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            width: auto !important;
        }
        .ant-modal-body {
            padding: 10px;
            height: calc(~'100% - 45px');
            background-color: #fafafa;
        }
    }
}

.locatemap {
    :global {
        .ant-modal-body {
            padding: 0;
        }
    }
}