@import '../../../common/default.less';
.XQLY {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .Content {
        height: 100%;
        width: 80%;
    }
}