@import '../../common/default.less';
.home {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    >div {
        height: 100%;
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../../common/Img/登录/福州西湖夜景灯光.png);
        background-size: cover;
        filter: grayscale(80%) brightness(200%) opacity(0.4);
    }
    .content {
        position: relative;
        flex: 1;
        .logo {
            width: 728px;
            height: 81px;
            position: absolute;
            top: 20px;
            left: 35px;
            background-image: url(../../common/Img/登录/Title.png);
        }
        .timeuser {
            position: absolute;
            top: 50px;
            right: 400px;
            display: flex;
            align-items: center;
            color: @primary-color;
            font-size: 20px;
            .time {
                font-weight: 700;
                span:first-child {
                    font-size: 42px;
                }
            }
            .user {
                padding: 2px 6px;
                border-radius: 50%;
                color: white;
                background: @primary-color;
            }
        }
        .tel {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: @primary-color;
            >span {
                display: inline-block;
                margin: 0 20px;
            }
        }
        .panel {
            position: absolute;
            height: 80%;
            margin: 10% 5%; 
            width: 90%;
            :global {
                #cardArea {
                    position: relative;
                    width: 100%;
                    margin: 0 !important;
                    padding-top: 40px !important;
                    .card-item {
                        width: 340px;
                        .card {
                            .card-title {
                                background-color: rgb(22, 115, 224) !important;
                            }
                            .card-content {
                                .content-first-list {
                                    >li {
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .card-item.active {
                        width: 650px;
                        .card {
                            .card-content.content-second {
                                .main-info {
                                    .main-head {
                                        font-size: 20px !important;
                                        font-weight: 800;
                                    }
                                    .main-tip {
                                        font-size: 15px !important;
                                        text-indent: 2em;
                                    }
                                }
                                .other-info {
                                    padding: 25px 0 0 0 !important;
                                    >li {
                                        width: 120px !important;
                                        height: 40px !important;
                                        padding: 0;
                                        >a {
                                            position: relative;
                                            height: 100% !important;
                                            width: 100% !important;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            >span {
                                                margin: 0 // font-size:15px;
                                            }
                                        }
                                    }
                                }
                            }
                            .card-title-sp {
                                background-image: url(../../common/Img/主页/ghywsp.png);
                                .content {
                                    display: none
                                }
                            }
                            .card-title-xt {
                                background-image: url(../../common/Img/主页/ywxtgx.png);
                                .content {
                                    display: none
                                }
                            }
                            .card-title-sj {
                                background-image: url(../../common/Img/主页/sjkgl.png);
                                .content {
                                    display: none
                                }
                            }
                            .card-title-lc {
                                background-image: url(../../common/Img/主页/qlcjg.png);
                                .content {
                                    display: none
                                }
                            }
                            .card-title-yyff {
                                background-image: url(../../common/Img/主页/yyff.png);
                                .content {
                                    display: none
                                }
                            }
                        }
                    }
                    .card-area .card-item.active .card .card-title {
                        height: 159px;
                        top: -15px;
                        border: none;
                    }
                    .card-title {
                        background-size: 100% 100% !important;
                    }
                    .card-area .card-item .card .card-title .content {
                        bottom: 15px;
                    }
                }
            }
        }
    }
}