@import '../../../common/default.less';
.MPH {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .Content {
        height: 100%;
        width: 80%;
    }
}