@import '../../default.less';
.map {
    position: relative;
    height: 100%;
    width: 100%;
    .mapdom {
        height: 100%;
        width: 100%;
    }
    .layerptoggle {
        position: absolute;
        z-index: 999;
        right: 10px;
        bottom: 60px;
        height: 80px;
        width: 80px;
        >div {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: none;
            cursor: pointer;
            &:global(.active) {
                display: block;
            }
        }
        :global {
            .vec {
                background-image: url(../../Img/服务应用/切图/矢量.png);
            }
            .img {
                background-image: url(../../Img/服务应用/切图/影像.png);
            }
        }
    }
    .back {
        position: absolute;
        z-index: 999;
        bottom: 223px;
        right: 10px;
        height: 29px;
        width: 30px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: @primary-color;
        }
    }
    .logo {
        position: absolute;
        z-index: 999;
        bottom: 5px;
        right: 10px;
        width: 281px;
        height: 55px;
    }
    .toolbar {
        position: absolute;
        z-index: 999;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
        background: white;
        border-radius: 3px;
        padding: 0 10px;
        top: 10px;
        left: 10px;
        .coordinates {
            display: flex;
            width: max-content;
            margin-top: 10px;
            position: absolute;
            left: 0;
            padding: 8px 10px;
            box-shadow: @box-shadow;
            background: white;
            border-radius: 3px;
            transition: @transition;
            display: none;
            &:global(.active) {
                display: block;
            }
            >i {
                font-size: 18px;
                transition: @transition;
                cursor: pointer;
                &:hover {
                    color: @primary-color;
                }
            }
        }
        >span {
            display: inline-block;
            padding: 8px 10px;
            cursor: pointer;
            transition: @transition;
            &:hover {
                color: @primary-color;
            }
            >span {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
    :global {
        .leaflet-control-zoom {
            position: absolute;
            bottom: 140px;
            right: 0;
            border: none;
            >a {
                border-radius: 5px !important;
                font-size: 18px;
                box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15) !important;
                &:first-child {
                    margin-bottom: 6px;
                }
                &:hover {
                    color: @primary-color;
                }
            }
        }
        .measuretooltip {
            background: rgba(0, 0, 0, 0.7);
            color: white;
            border: 0;
            padding: 5px 10px 5px 10px;
            font-size: 14px;
            span {
                font-weight: 700;
                font-size: 16px;
            }
            .anticon {
                margin-left: 10px;
            }
            &::before {
                border-right-color: rgba(0, 0, 0, 0.7);
            }
        }
        .leaflet-control-scale {
            margin-bottom: 10px;
            margin-left: 10px;
            font-weight: 700;
        }
        .leaflet-draw-tooltip-subtext {
            color: white;
            font-size: 15px;
            font-weight: 700;
        }
        .coordinatestooltip {
            >input {
                outline: none;
                border: 1px solid @border-color;
                padding: 5px 10px;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}